<div class="col-md-8">
  <%= form_for(@user, :url => { :action => "update_password" },
    html: { class: "form-horizontal"}) do |f| %>
    <fieldset>
      <legend><%= t(".legend") %></legend>
      <%= render "shared/error", object: f.object %>
      <div class="form-group">
        <%= f.label :password, "Password", class: "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.password_field :password, autocomplete: :off,
           class: "form-control", placeholder: t(".password") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation , class: "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.password_field :password_confirmation, autocomplete: :off,
           class: "form-control", placeholder: t(".password_confirmation") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :current_password, class: "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.password_field :current_password, autocomplete: :off,
           class: "form-control", placeholder: t(".current_password") %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">
          <%= f.submit t(".update"), class: "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>